body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 240px auto auto 150px;
}

nav {
    background-color: #2F2FA2;
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}


ul.topnav {
    list-style-type: none;
    padding-left: 15%;
    overflow: hidden;
    background-color: #4d4dcb;
    margin-top: 20px;
}
  
ul.topnav li {
    float: left;

}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #F64C72;
    font-weight: bold;
    color: #242582;
}

a.active {
    background-color: #F64C72;
    font-weight: bold;
    
}

main {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 15%;
    padding-right: 10%;
    padding-bottom: 20px;
    
}

main h1 {
    padding-top: 15px;
}


main p {
    padding-right: 10%;
    float: left;
    vertical-align: top;
    font-size: 16px;
    margin-top: -5px;
}

main img {
    border: 3px solid #553D67;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 3px rgba(85,61,103, 0.75);
	-moz-box-shadow: 6px 6px 3px rgba(85,61,103, 0.75);
	box-shadow: 6px 6px 3px rgba(85,61,103, 0.75);
}

img.ref {
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

img#logo {
    margin-left: 15%;
    margin-top: 10px;
    
}
#top-description {
    margin-left: 50px;
    margin-top: 15px;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

#logocontainer {
    text-align: left;
}

div#iconsbar {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 30px;
    
}
div#iconsbar h2 {
    font-size: 25px;
}
div#iconsbar div {
    display: inline-block;
    border: 3px solid #553D67;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    vertical-align: middle;
    margin: 15px;
    width: 250px;
    height: 250px;
    background: #fafafa;
	-webkit-box-shadow: 6px 6px 3px rgba(85,61,103, 0.75);
	-moz-box-shadow: 6px 6px 3px rgba(85,61,103, 0.75);
	box-shadow: 6px 6px 3px rgba(85,61,103, 0.75);
    
}

div#iconsbar div h3 {
    vertical-align: top;
}

div#iconsbar img {
    vertical-align: middle;
    padding-right: 5px;
}

footer {
    background-color: #2F2FA2;
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

footer p {
    text-align: center;
    margin-top: -10px;
}

p#bottomName {
    margin-top: 10px;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 2px;
}

a#email, #phone {
    color: whitesmoke;
    font-weight: bold;
}

div#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#wrapper h2 {
    display: inline-block;
}

div#left {
    flex: 50%;
    text-align: left;
}
  
div#right {
    flex: 50%;
    text-align: center;
}

div#right iframe {
    border:4px solid #F64C72;
}

.table-category {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    padding-right: 30px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10%;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote span {
    display: block;
    font-weight: bold;
    margin-top: 1em;
    text-align: right;
}


img.ninty-percent-width {
    width: 90%;
    height: auto;
}

img#forty-percent-width {
    width: 40%;
    height: auto;
}
img#fifty-percent-width {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 441px auto auto 150px;
    }
    
    ul.topnav , ul.topnav li {
        float: none;
        padding: 0%;
        margin-right: 0px;
    }

    #top-description {
        display: none;
    }

    img#logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    div#wrapper {
        flex-direction: column;
    }
    div#right iframe {
        width: 100%;
    }
    div#left, div#right {
        flex: 100%;        
    }
    div#right {
        text-align: center;
    }
    img#forty-percent-width {
        width: 100%;
        height: auto;
    }
    img#fifty-percent-width {
        width: 100%;
        height: auto;
    }
    img.ninty-percent-width {
        width: 100%;
        height: auto;
    }
  }

@media print {
    .logocontainer {
        display: none;
    }
    html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
        margin: 0mm;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 441px auto auto 150px;
        width: 100%;
    }

    
    
    ul.topnav , ul.topnav li {
        float: none;
        padding: 0%;
        margin-right: 0px;
    }

    ul {
        margin-bottom: 0px;
    }

    footer, #top-description, nav, div#right {
        display: none;
    }

}